.button {
    padding: .7rem 2rem;
    border-radius: 30px;
    border: none;
    font-family: $roboto;
    font-size: $medium;
    color: $platinum;
    background-color: $nickel;

    &:hover{ 
        background-color: $lightgray;
        border-color: $white1;
        color: $platinum;
    }

    &:focus {
        background-color: $nickel;
        border-color: $platinum;
        color: $platinum;  
        border: 3px solid;
    }
}


.button__sm {
    padding: .5rem 1rem;
    border-radius: 30px;
    border: none;
    font-family: $roboto;
    font-size: $small;
    color: $platinum;
    background-color: $nickel;
    margin-left: 1%;

    &:focus {
        background-color: $nickel;
        border-color: $platinum;
        color: $platinum;  
        border: 3px solid;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#008000' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler { border-color: $white1; }