//First color scheme

$white1: #FFF;
$platinum: #E6E7E7;
$lightgray: #D1D1D1;

//Second color scheme

$fuzzywuzzy: #E56353;
$ruddypink: #D76C69;
$spanishpink: #ECBCBA;

//Third color scheme

$eerieblack: #121619;
$raisinblack: #222322;
$nickel: #6C6E70;

/*typography*/

// Fontfamily

$roboto:'Roboto', sans-serif;
$playfairdisplay: 'Playfair Display', serif;

// Font Size

$xxlarge: 70px;
$xlarge: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;


//Font weight

$black900: 900;
$regular400: 400;
$light300: 300;  